{% ckan_extends %}

{% block extras %}

  {% if pkg_dict.contact_name %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Contact name") }}</th>
      <td class="dataset-details">{{ pkg_dict.contact_name }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.contact_email %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Contact e-mail") }}</th>
      <td class="dataset-details">{{ pkg_dict.contact_email }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.contact_uri %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Contact uri") }}</th>
      <td class="dataset-details">{{ pkg_dict.contact_uri }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.language %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Language") }}</th>
      <td class="dataset-details">{{ pkg_dict.language }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.theme %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Theme") }}</th>
      <td class="dataset-details">{{ pkg_dict.theme }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.publisher_uri %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Publisher") }}</th>
      <td class="dataset-details">{{ pkg_dict.publisher_uri }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.publisher_email %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Publisher email") }}</th>
      <td class="dataset-details">{{ pkg_dict.publisher_email }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.version_notes %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Version notes") }}</th>
      <td class="dataset-details">{{ pkg_dict.version_notes }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.frequency %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Frequency") }}</th>
      <td class="dataset-details">{{ pkg_dict.frequency }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.temporal %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Temporal") }}</th>
      <td class="dataset-details">{{ pkg_dict.temporal }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.spatial %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Spatial") }}</th>
      <td class="dataset-details">{{ pkg_dict.spatial }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.dataclassificatie %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("dataclassificatie") }}</th>
      <td class="dataset-details">{{ pkg_dict.dataclassificatie }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.tijdseenheid %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("tijdseenheid") }}</th>
      <td class="dataset-details">{{ pkg_dict.tijdseenheid }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.gebiedseenheid %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("gebiedseenheid") }}</th>
      <td class="dataset-details">{{ pkg_dict.gebiedseenheid }}</td>
    </tr>
  {% endif %}

{% for extra in pkg_dict.extras %}

    {% if extra %}
      <tr>
        <th scope="row" class="dataset-label">{{ extra.key }}</th>
        <td class="dataset-details">{{ extra.value }}</td>
      </tr>
    {% endif %}
  
  {% endfor %}

{% endblock %}
