{% import 'macros/form.html' as form %}

{% block package_metadata_fields %}

  {# You could remove 'free extras' from the package form like this:
  {% block custom_fields %}
  {% endblock %}
  #}

  {% block package_metadata_fields_url %}
    {{ form.input('url', label=_('Source'), id='field-url', placeholder=_('http://example.com/dataset.json'), value=data.url, error=errors.url, classes=['control-medium']) }}
  {% endblock %}

  {% block package_metadata_fields_version %}
    {{ form.input('version', label=_('Version'), id='field-version', placeholder=_('1.0'), value=data.version, error=errors.version, classes=['control-medium']) }}
  {% endblock %}

  {# TODO: Change this to a file named "package_custom_fields" #}

  {% block package_custom_fields %}

    {% block package_custom_fields_contact_name %}
      {{ form.input('contact_name',label=_('Contact name'),id='field-contact_name',placeholder=_('contact_name placeholder'),value=data.contact_name,error=errors.contact_name,classes=['control-medium']) }}
    {% endblock %}

    {% block package_custom_fields_contact_email %}
      {{ form.input('contact_email', label=_('Contact e-mail'), id='field-contact_email',placeholder=_('contact_email placeholder'),value=data.contact_email, error=errors.contact_email,classes=['control-medium']) }}
    {% endblock %}

    {% block package_custom_fields_contact_uri %}
      {{ form.input('contact_uri',label=_('Contact uri'),id='field-contact_uri',placeholder=_('contact_uri placeholder'),value=data.contact_uri,error=errors.contact_uri,classes=['control-medium']) }}
    {% endblock %}

    {% block package_custom_fields_language %}
      {{ form.input('language', label=_('Language'), id='field-language', placeholder=_('Language placeholder'), value=data.language, error=errors.language, classes=['control-medium']) }}
    {% endblock %}

    {% block package_custom_fields_theme %}
    {% set existing_theme = data.theme %}
      <div class="control-group">
        <label for="field-theme" class="control-label">{{ _('Theme') }}</label>
        <div class="controls">
          <select id="field-theme" name="theme" data-module="autocomplete">          
          {% set grouplist = h.get_featured_groups(100) %}
            {% for group in  grouplist %}
              <option value="{{ group.display_name }}" {% if existing_theme == group.display_name %} selected="selected" {% endif %}>{{ group.display_name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

    {% endblock %}

    {% block package_custom_fields_publisher_uri %}
      {{ form.input('publisher_uri', label=_('Publisher'), id='field-publisher_uri', placeholder=_('publisher_uri placeholder'), value=data.publisher_uri, error=errors.publisher_uri, classes=['control-medium']) }}
    {% endblock %}

    {% block package_custom_fields_publisher_email %}
      {{ form.input('publisher_email',label=_('Publisher email'),id='field-publisher_email',placeholder=_('publisher_email placeholder'),value=data.publisher_email,error=errors.publisher_email,classes=['control-medium'])}}
    {% endblock %}

    {% block package_custom_fields_version_notes %}
      {{ form.input('version_notes',label=_('Version notes'),id='field-version_notes',placeholder=_('version_notes placeholder'),value=data.version_notes,error=errors.version_notes,classes=['control-medium'])}}  
    {% endblock %}

    {% block package_custom_fields_frequency %}
      {{ form.input('frequency',label=_('Frequency'),id='field-frequency',placeholder=_('frequency placeholder'),value=data.frequency,error=errors.frequency,classes=['control-medium']) }}
    {% endblock %}

    {% block package_custom_fields_temporal %}
      {{ form.input('temporal',label=_('Temporal'),id='field-temporal',placeholder=_('temporal placeholder'),value=data.temporal,error=errors.temporal,classes=['control-medium'])}}
    {% endblock %}

    {% block package_custom_fields_spatial %}
      {{ form.input('spatial', label=_('Spatial'),id='field-spatial', placeholder=_('spatial placeholder'),value=data.spatial,error=errors.spatial,classes=['control-medium'])}}
    {% endblock %}

    {% block package_custom_fields_dataclassificatie %}
    {% set existing_dataclassificatie = data.dataclassificatie %}
      <div class="control-group">
        <label for="field-dataclassificatie" class="control-label">{{ _('dataclassificatie') }}</label>
        <div class="controls">
          <select id="field-dataclassificatie" name="dataclassificatie" data-module="autocomplete">
              {% set dataclassificatielist = ['Open','Intern','Intern, beperkt'] %}
              {% for dataclassificatie in  dataclassificatielist %}
                    <option value="{{ dataclassificatie }}" {% if existing_dataclassificatie == dataclassificatie %} selected="selected" {% endif %}>{{ dataclassificatie }}</option>
              {% endfor %}
          </select>
        </div>
      </div>
    {% endblock %}

    {% block package_custom_fields_tijdseenheid %}
    {% set existing_tijdseenheid = data.tijdseenheid %}
      <div class="control-group">
        <label for="field-tijdseenheid" class="control-label">{{ _('tijdseenheid') }}</label>
        <div class="controls">
          <select id="field-tijdseenheid" name="tijdseenheid" data-module="autocomplete">
              {% set tijdseenheidlist = ['Geen tijdseenheid','Realtime','Minuten','Uren','Dagdelen','Dagen','Weken','Maanden','Kwartalen','Jaren'] %}
              {% for tijdseenheid in  tijdseenheidlist %}
                    <option value="{{ tijdseenheid }}" {% if existing_tijdseenheid == tijdseenheid %} selected="selected" {% endif %}>{{ tijdseenheid }}</option>
              {% endfor %}
          </select>
        </div>
      </div>
    {% endblock %}

    {% block package_custom_fields_gebiedseenheid %}
    {% set existing_gebiedseenheid = data.gebiedseenheid %}
      <div class="control-group">
        <label for="field-gebiedseenheid" class="control-label">{{ _('gebiedseenheid') }}</label>
        <div class="controls">
          <select id="field-gebiedseenheid" name="gebiedseenheid" data-module="autocomplete">
              {% set gebiedseenheidlist = ['Geen geografie','Specifieke punten/vlakken/lijnen','Land','Provincie','Regio','Gemeente','Stadsdeel','Gebied','Buurtcombinatie','Buurt','Bouwblok','Postcode (PP4, 4 cijfers)','Postcode (PP5, 4 cijfers + 1 letter)','Postcode (PP6, 4 cijfers + 2 letters)'] %}
              {% for gebiedseenheid in gebiedseenheidlist %}
                    <option value="{{ gebiedseenheid }}" {% if existing_gebiedseenheid == gebiedseenheid %} selected="selected" {% endif %}>{{ gebiedseenheid }}</option>
              {% endfor %}
          </select>
        </div>
      </div>
    {% endblock %}

  {% endblock %}

  {% block package_metadata_fields_custom %}
    {% block custom_fields %}
      {% snippet 'snippets/custom_form_fields.html', extras=data.extras, errors=errors, limit=3 %}
    {% endblock %}
  {% endblock %}

  {% block dataset_fields %}
  {% endblock %}

{% endblock %}
